<div class="transfer-form-comp">

    <div class="ui-panel">
        <div class="heading">
        <span class="title centered"><i class="icon-exchange"></i> Make a Transfer</span>
        </div>

        <div class="body" ng-include="($ctrl.parent.isEditing) ? '/form.html' : '/confirmation.html'">
            <!-- Template Views -->
        </div>

    </div>

    <!-- Template: form.html -->
    <script type="text/ng-template" id="/form.html">
        <form name="transferForm" ng-submit="$ctrl.parent.submitTransfer()">
            <div class="from-account">
                <span class="label">From Account</span>
                <span class="input">{{ $ctrl.parent.account.name }} - Avaliable {{ $ctrl.parent.account.balance }}</span>
            </div>


            <div class="to-account">
                <label>To Account</label>
                <select name="merchant"
                    ng-model="$ctrl.parent.selectedMerchant"
                    ng-options="merchant.merchant for merchant in $ctrl.parent.merchants"
                    required />
                </select>
            </div>

            <div class="amount">
                <label>Amount</label>
                <div class="input-currency">
                    <span>$</span>
                    <input
                    type="number"
                    name="amount"
                    class="currency"
                    placeholder="0.00"
                    autocomplete="off"
                    step="0.01"
                    ng-model="$ctrl.parent.amount"
                    ng-change="$ctrl.validateAmount(transferForm.amount)"
                    required />
                </div>
            </div>


            <div class="centered">
                <button type="submit"
                    class="btn btn-submit"
                    ng-click="$ctrl.validateAmount(transferForm.amount)"
                    ng-disabled="transferForm.$invalid">Submit
                </button>
            </div>

        </form>
    </script>

    <!-- Template: form.html -->
    <script type="text/ng-template" id="/confirmation.html">
       <div class="confirmation">

            <div class="row">
               <h3 class="centered col-md-12">Confirm Transfer</h3>
                <p class="centered col-md-12">Ready to transfer <strong>{{ $ctrl.parent.amount | currency }}</strong>?</p>
            </div>

           <div class="row centered buttons">
                <div class="col-md-12">
                    <button class="btn btn-submit" ng-click="$ctrl.parent.confirmTransfer()">Transfer</button>
                </div>
               <div class="col-md-12">
                   <button class="btn btn-sm btn-link" ng-click="$ctrl.parent.isEditing = true">Cancel Transfer</button>
               </div>
           </div>

       </div>
    </script>


</div>
