.transfer-comp {
  i {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  .icon-exchange {
    background: url('../img/icons/icon-arrows.png') 0 0 no-repeat;
    background-size: contain;
  }
  .icon-briefcase {
    background: url('../img/icons/icon-briefcase.png') 0 0 no-repeat;
    background-size: contain;
  }


}

.transfer-form-comp{
  form {
    .input { height: 28px; line-height: 28px; overflow: hidden; white-space: nowrap; }
    label, .label { margin: 0;  }

    .from-account, .to-account, .amount {
      margin: @gutter 0 @gutter * 2;
    }

    .input-currency{
      margin: 0;
      line-height: 24px;

      span {
        display: inline-block;
        width: 14px;
        height: 28px;
        font-weight: 300;
        line-height: 28px;
        text-align: right;
        position: absolute;
      }

      input {
        padding-left: 16px;
        position: relative;
      }
    }
  }

  .confirmation {

    .buttons {
      margin: @gutter 0;
    }
  }
}

.transfer-history-comp {

  ul.trans-list {
    margin: 0;
    display: table;;
    width: 100%;
    background: @white;
    border: 1px solid @gray20;
    border-top: none;
  }

  li {
    padding: @gutter @gutter/2;
    display: table-row;
    position: relative;
    border: 1px solid @gray20;
    border-width: 0px 1px 1px 1px;

    &>div {
      padding: @gutter;
      display: table-cell;
      vertical-align: middle;
      background: @white;
      border-top: 1px solid @gray20;
    }

    &:before {
      content: " ";
      display: inline-block;
      width: 8px;
      height: 72px;
      position: absolute;
      background: inherit;
      margin-top: 1px;
      margin-left: -4px;
    }

  }

  .trans-logo {

    img {
      max-width: 100%;
      max-height: 40px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      }
  }

  .trans-date {
    font-size: 1.2em;
    font-weight: 100;
  }

  .trans-merchant {
      .trans-merchant-name {
        display: block;
        font-size: 1.3em;
        line-height: 18px;
        }

      .trans-type {
        font-size: .7em;
      }
  }

  .trans-amount{
    font-size: 1.5em;
    font-weight: 500;
  }

  @media (max-width: @breakpoint-small-screen) {
    .trans-date { font-size: .8em; }
    .trans-merchant .trans-merchant-name { font-size: 1em; }
    .trans-amount { font-size: 1em; }
    .trans-logo { display: none; }
  }
}



