<div class="transfer-comp">

    <div class="row">
        <div class="col-md-4">
            <transfer-form
                account="$ctrl.account">
            </transfer-form>
        </div>

        <div class="col-md-8">
            <transfer-history
                transfers="$ctrl.transfers">
            </transfer-history>
        </div>
    </div>

</div>
