/*
  DEFAULTS
*/

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*
  DEFAULT STYLES
*/

a { text-decoration: none; }

ul, ol { margin: 0; padding: 0; list-style: none; }
p { margin: 0; padding: 0; }


.right-align { text-align: right; }
.left-align { text-align: left; }
.centered { text-align: center; }


/*
  FORMS
*/
form {

}
label, .label {
  margin: 5px 0;
  padding: 0;
  display: block;
  color: @black;
  text-align: left;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
}


input[type='text'], input[type='number'], .input, select {
  padding-top: 2px;
  width: 100%;
  font-weight: 100;
  font-size: 1.2em;
  color: @gray50;
  background: transparent;
  border-width: 0;
  border-bottom: 1px solid @gray20;
}

.input { display: block; }


input, select {

  &:focus {
    //border: none;
    //box-shadow: none;
    outline: none;
  }

  &:hover {
    background: rgba(0,0,0,0.025);
  }

}


.btn-submit {
  margin: 0 auto;
  padding: .8em;
  color: @white;
  background: @orange;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  width: 120px;

  &:hover{
    color: @white;
    background: darken(@orange, 20%);
  }
}
