.ui-panel {
  background: @white;
  .box-shadow();

  .heading {
    color: @white;
    background: @aqua;
    padding: 8px;
    font-weight: 100;
    font-size: 16px;
    line-height: 30px;

    .title { display: block; }

    i {
      position: absolute;
      top: 15px;
      left: 30px;
      opacity: 0.8;
    }

  }

  .body {
    padding: @gutter;
  }
}


