/*
  VARIABLES
*/
// Golden ratio, which makes just about anything look lovely
@golden: 1.618;
@goldenEm: @golden + 0em;

@site-max-width: 1200px;
@gutter: 16px;


/* BG Colors */
@bg-color: #82a5ac;


/* Font */
@base-font-size: 14px;
@base-font-family:  'Kanit', sans-serif;
@header-font-size: 16px;
@header-font-family: 'Kanit', sans-serif;

/*
B/W Color Scale
*/
@black: hsl(0, 0%, 0%);
@gray90: hsl(0, 0%, 10%);
@gray80: hsl(0, 0%, 20%);
@gray70: hsl(0, 0%, 30%);
@gray60: hsl(0, 0%, 40%);
@gray50: hsl(0, 0%, 50%);
@gray40: hsl(0, 0%, 60%);
@gray30: hsl(0, 0%, 70%);
@gray20: hsl(0, 0%, 80%);
@gray10: hsl(0, 0%, 90%);
@gray05: hsl(0, 0%, 95%);
@gray03: hsl(0, 0%, 97%);
@gray01: hsl(0, 0%, 99%);
@white: hsl(0, 0%, 100%);

/*
  Site Colors
*/
@red: #DB2828;
@orange: #fa844c;
@aqua: #0c8397;

@xLoPoint: 320px;
@loPoint: 768px;
@midPoint: 992px;
@loPoint: 1200px;

@breakpoint-xsmall-screen: 320px;
@breakpoint-small-screen: 768px;
@breakpoint-mid-screen: 996px;
@breakpoint-large-screen: 1200px;
