@import "../assets/src/less/_variables.less";
@import "../assets/src/less/_mixins";
@import "../assets/src/less/_default";
@import "../assets/src/less/_ui";



/*
  GENERAL APP STYLES/OVERRIDES
*/
body {
  background: @bg-color url('../img/background.jpg') center top no-repeat;
  background-size: cover;
  font-family: @base-font-family;
}

.container-fluid {
  padding: 0;
}

.col-md-4 { margin-bottom: 15px; }
.flush { padding: 0; }



/*
  MODULE STYLES
*/
@import "common/common";
@import "core/transfer/transfer";
