@header-height: 60px;

.home-comp {
  margin: 0 auto;
  padding: 50px 20px;
  max-width: @site-max-width;
}

.header-comp {
    background: @white;
    border-bottom: 2px solid @orange;
    .line-shadow();

  header {
    margin: 0 auto;
    padding: 0 20px;
    max-width: @site-max-width;
    height: @header-height;
  }

  .brand {
    width: 280px;
    max-width: 50%;
    min-width: 140px;
    line-height: @header-height;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
