<div class="transfer-history-comp">

<!--<p>require {{ $ctrl.parent.transfers }}</p>-->

    <div class="ui-panel">
        <div class="heading">
            <span class="title centered"><i class="icon-briefcase"></i> Recent Transactions</span>
        </div>


        <div class="body">
            <ul class="trans-list">
                <li class="list-row" ng-style="{'backgroundColor': trans.color }" ng-repeat="trans in $ctrl.parent.transfers">
                    <div class="trans-date centered"><span>{{ trans.transactionDate | date:'MMM. d' }}</span></div>
                    <div class="trans-logo centered">
                        <img ng-src="{{ trans.merchantLogo }}" alt="logo" />
                    </div>
                    <div class="trans-merchant">
                        <span class="trans-merchant-name">{{ trans.merchant }}</span>
                        <span class="zeta trans-type">{{ trans.transactionType }}</span>
                    </div>
                    <div class="trans-amount right-align">
                        <span>-{{ trans.amount | currency }}</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>
